.partners{
    background-image: url("../../public/partners-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
}

.container_desktop, .container_desktop_task{
    max-width: 1000px;
    margin: 50px auto 0;
}

.barter{
    margin: 0 auto;
    border-top: 5px solid #FFB904;
    border-bottom: 5px solid #FFB904;
    background: rgba(255, 185, 4, 0.50);
    box-shadow: 5px 0 30px 2px #FFB904 ;
}

.row_career, .row, .row_barter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row{margin-top: 40px}

.row_career{
    position: relative;
    top: -80px;
}

.row > a{
    margin: 0 20px;
}

.row_barter{
    align-items: center;
    margin-bottom: 20px;
}


.img, .img_career_desktop{
    width: 100%;
}

.row_career > a{
    margin: 0;
}
.row_barter > a{
    margin: 10px 30px;
}
.row_career > a:nth-child(1) {
    align-self: center;
    width: 280%;
}

.row_career > a:nth-child(2) {
    align-self: center;
    width: 130%;
}

.row_career > a:nth-child(3) {
    align-self: start;
    width: 190%;
}
/*.container_career > a:nth-child(4) {*/
/*    */
/*}*/


.header, .header_task{
    font-family: "Black Ops One";
    color: #FFFFFF;
    font-size: 64px;
    margin: 20px 0;
}


.container_mobile{
    padding: 20px;
    margin: 0 auto;
    max-width: 750px;
    display: grid;
    grid-template-areas: "header r_d"
                        "lifecell sombra";

}
.row_barter > a:nth-child(3) {
    width: 100%;
}


.r_d{
    grid-area: r_d;
    align-self: center;
    justify-self: center;
    place-self: end;
    width: 100%
}

.sombra{
    grid-area: sombra;
    align-self: center;
    justify-self: center;
    width: 130%
}

.lifecell{
    grid-area: lifecell;
    align-self: center;
    justify-self: center;
    width: 100%
}
@media (min-width: 992px){
    .container_mobile{
        display: none;
    }
}

@media (max-width: 992px){
    .header_task, .header{
        font-size: 40px;
        align-self: center;
    }
    .header_task{
        text-align: center;
    }
    .header{
        padding-left: 4%;
    }
    .container_desktop_task{
        display: none;
    }
    .container_desktop{
        max-width: 750px;
    }
    .row_barter > a{
        margin: 10px 20px;
    }
    .row_barter > a:nth-child(3) {
        width: 140%;
    }

}

@media (max-width: 676px){
    .header, .header_task{
        font-size: 28px;
    }
    .header{
        padding-left: 36px;
    }

    .r_d{
        width: 100%;
    }

    .sombra{
        width: 100%;

    }

    .lifecell{
        width: 100%;
    }

    .row_barter > a{
        margin: 10px 5px;
    }
    .row_career{
        top: -60px;
    }
}

@media (max-width: 460px){
    .header, .header_task{
        font-size: 24px;
    }
    .header{
        padding-left: 20px;
    }

    .r_d{
        width: 100%
    }

    .sombra{
        width: 100%
    }

    .lifecell{
        width: 100%
    }
    .row_career{
        top: -30px;
    }
}