.arc {
    display: flex;
    flex-direction: column;
    grid-area: arc;
    justify-self: center;
    align-self: center;
    margin-right: 30px;
}

@media (max-width: 676px){
    .arc{
        padding-top: 40px;
        position: relative;
        left: 5%;
        justify-self: left;
        align-self: center;
    }
}

.word{
    font-size: 6vw;
    color: #FFFFFF;
    font-family: "Black Ops One";
}

.first-letter{
    font-size: 6vw;
    font-family: "Black Ops One";
    color: rgba(111, 39, 212, 0.75);
    text-shadow: rgba(111, 39, 212, 0.75) 0px 0px 100px;
}

@media (max-width: 676px){
    .word{
        font-size: 55px;
    }
    .first-letter{
        font-size: 55px;
    }
}