.div {
    padding: 4px;
    display: inline-block;
    grid-area: countdown;
    justify-self: center;
    align-self: center;

    border-image-source: url("../../public/countdown-frame.svg");
    border-image-slice:
            30 25 30 25;
    border-image-width:
            10px 10px 10px 10px;
    padding: 18px;
}

@media (max-width: 676px){
    .div{
        justify-self: end;
    }
}

.p {
    font-family: "Black Ops One";
    font-size: 3.2vw;
    color: #FFFFFF;
    display: inline-block;
    width: 30vw;
    text-align: center;
}