.div{
    padding: 24px 46px;
    display: inline-block;
    font-family: 'Black Ops One';
    font-size: 3vw;
    color: #FFFFFF;
    background-color: #42019B;
    border: 4px solid #FFB904;
    grid-area: formatAndDate;
    justify-self: center;
    text-align: center;
}

@media (max-width: 676px) {
    .div{
        padding: 12px 20px;
        max-width: 500px;
        font-size: 30px;
    }
}

.p{
    -webkit-text-stroke: 0.5px #FFB904;
}