.header-frame {
    position: relative;
    height: 100vh
}

.grid{
    position: relative;
    display: grid;
    grid-template-areas:
            "registration arc"
            "countdown arc"
            "formatAndDate arc";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto;
    row-gap: 15vh;
    column-gap: 20px;
}

@media (max-width: 676px){
    .grid{
        grid-template-areas:
            "arc arc"
            "formatAndDate formatAndDate"
            "registration registration"
            "countdown countdown";
        grid-template-columns: repeat(2, auto);
        row-gap: 5vh;
        /*grid-template-rows: auto auto auto auto;*/
    }
}

.countdown{
    grid-area: countdown
}

.registration-button {
    grid-area: registration
}

.format-and-date {
    grid-area: format-and-date;
}

.arc {
    grid-area: arc;
}