.terms-of-participation {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    position: relative;
    background-image: url("../../public/terms-of-participation-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.span {
    fill: #FFB904;
}

.img{
    position: relative;
    height: 20px;
    width: auto;
    bottom: -60px;
    right: 140px;
}