.title{
    font-family: Black Ops One;
    font-size: 64px;
    color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 676px){
    .title{
        font-size: 40px;
    }
}