.categories{
    background-image: url("../../public/categories-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 8vh;
    max-width: 1000px;
}

.cards{
    position: relative;
    margin: 100px 0;
    height: 50vh;
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 676px){
    .cards{
        margin: 20px 0;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 70vh;
        row-gap: 20px;
    }
}