.categories{
    background-image: url("../../public/categories-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cards{
    position: relative;
    margin: 20px 0;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}