.about {
    height: 100vh;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center;
}

.span {
    fill: #FFB904;
}

.img{
    position: relative;
    height: 20px;
    width: 50vw;
    margin-bottom: 0px;
    right: -30px;
}