.about-best{
    background-image: url("../../public/about-best-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 10vh;
}

.photos-desktop{
    margin: 40px auto 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: baseline;
    padding: 0 20px;
    /*height: 150px;*/
}

.photos-mobile{
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}


@media (min-width: 677px){
    .photos-mobile{
        display: none;
    }
}

.text{
    font-family: 'Kreadon Bold';
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin: 30px 90px;
}

.abbreviation{
    font-family: 'Kreadon Bold';
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    /*padding: 0 290px;*/
    margin: 30px 90px;
}

.text:first-child {
    margin: 30px 90px 0 90px;
}

.text:nth-child(2) {
    margin: 0 90px 30px 90px;
}

@media (max-width: 676px){
    .abbreviation{
        font-size: 16px;
        margin: 15px 40px;
    }
    .text:nth-child(2) {
        margin: 15px 40px;
    }
    .text{
        font-family: 'Kreadon';
        font-size: 16px;
        margin: 15px 40px;
    }
}

.img {
    margin: 0 10px;
    width: 30%;
    height: 80%;
}

@media (max-width: 676px){
    .photos-desktop{
        display: none;
    }
    .img {
        margin: 0 20px;
        height: 100%;
        width: 80%;
    }
}